@mixin container() {
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

@mixin flex-row() {
  display: flex;
  flex-flow: row wrap;
  margin-left: - $grid-gutter / 2;
  margin-right: - $grid-gutter / 2;
}


@mixin flex-item() {
  padding-right: $grid-gutter / 2;
  padding-left: $grid-gutter / 2;
  flex: 0 1 auto;
}

@mixin flex-gallery-parent() {
  display: flex;
  flex-flow: row wrap;
  margin-left: - $grid-gutter / 2;
  margin-right: - $grid-gutter / 2;
}

@mixin flex-gallery-item() {
  padding: $grid-gutter / 2;
  flex: 0 0 auto;
}

@mixin flex-column($value, $columns: $grid-columns) {
  @if ($value == $columns) {
    width: 100%;
  } @elseif($value <= $columns) {
    width: (100% / $grid-columns) * $value;
  }
}