@use "sass:math";

$media-itembackground-color: rgba($gray-600, 0.5) !default;

.#{$prefix}embed {

  position: relative;

  &:before {
    content: "";
    display: inline-block;
  }
  &.#{$prefix}embed-16x9:before {
    padding-bottom: percentage(math.div(9, 16));
  }
  &.#{$prefix}embed-4x3:before {
    padding-bottom: percentage(3*0.25);
  }

	.#{$prefix}embeded-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background:$media-itembackground-color;
		//box-shadow: 0 0 4px rgba(#fff, 0.4);
	}
}

.#{$prefix}media {
  margin:  $grid-gutter*0.75 0;
  .#{$prefix}title {
		display: block;
		padding: 0 0 6px 0;
	}
}

.#{$prefix}audio-player {
  margin: .25rem 0 .5rem 0;

  .#{$prefix}audio-player-title {
    display: block;
    margin-bottom: .25rem;
  }
}