.#{$prefix}nav {
  padding: 0;
  margin: 0;
  list-style: none;
}


.#{$prefix}sitemap {
  margin: 0;
   li {
    margin: 0.5rem 0;
  }
  >li > .#{$prefix}sitemap {
    margin: 0 ;
  }
  > li li .#{$prefix}sitemap {
    margin: 0 0 0 2rem;
  }
}
