@mixin clearfix() {
  zoom: 1;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin visuallyhidden() { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin fa-base($font-size: 14px) {
  display: inline-block;
  font: normal normal normal $font-size/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($icon) {
  @if (map-has-key($font-icons, $icon)) {
    content: map-get($font-icons, $icon);
  }
}

@mixin icon($icon) {
  @if (map-has-key($font-icons)) {
    content: map-get($font-icons);
  }
}

@mixin print-link($color:#999,$size:10pt){
	content: "  ["attr(href)"] ";
	color: $color;
	font-size: $size;
	text-decoration: none;
}

@mixin w-button() {
  appearance: none;
  background-color: map-get($buttons-setting, background);
  border: map-get($buttons-setting, border);
  border-radius: map-get($buttons-setting, border-radius);
  color: map-get($buttons-setting, color);
  cursor: pointer;
  display: inline-block;
  font-family: map-get($buttons-setting, font-family);
  font-size: map-get($buttons-setting, font-size);
  -webkit-font-smoothing: antialiased;
  font-weight: map-get($buttons-setting, font-weight);
  line-height: 1;
  padding: map-get($buttons-setting, padding);
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: map-get($buttons-setting, hover-background);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $primary-color;
    }
  }
}